In [68]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests

In [69]:
# Set up browser
executable_path = {"executable_path": "C:\\Program Files\\chromdriver_win32\\chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [70]:
#URL to be scraped
url = 'https://mars.nasa.gov/news'
browser.visit(url)
html = browser.html
soup = bs(html, "html.parser")

In [71]:
news_title = soup.find('li', class_='slide').find('div',class_='content_title').text
print("Title: ", news_title)
news_p = soup.find('li', class_='slide').find('div', class_='article_teaser_body').text
print("Article Teaser: ",news_p)

Title:  NASA's Ingenuity Mars Helicopter Spots Perseverance From Above
Article Teaser:  Can you see NASA’s newest rover in this picture from Jezero Crater?

In [72]:
#image_url = 'https://www.jpl.nasa.gov/images'
#browser.visit(image_url)
#html = browser.html
#soup = bs(html, "html.parser")
#image_source = soup.find(class_ = 'carousel_item')['style']

In [73]:
mars_facts_url = 'https://space-facts.com/mars/'
facts_table = pd.read_html(mars_facts_url)
facts_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [74]:
facts_table_df = facts_table[0]

facts_table_df.columns = ["Info", "Mars"]

mars_table = facts_table_df.set_index("Info")
mars_table

                                               Mars
Info
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [75]:
mars_table_html = mars_table.to_html()
mars_html = mars_table_html.replace('\n', ' ')
mars_html

'<table border="1" class="dataframe">   <thead>     <tr style="text-align: right;">       <th></th>       <th>Mars</th>     </tr>     <tr>       <th>Info</th>       <th></th>     </tr>   </thead>   <tbody>     <tr>       <th>Equatorial Diameter:</th>       <td>6,792 km</td>     </tr>     <tr>       <th>Polar Diameter:</th>       <td>6,752 km</td>     </tr>     <tr>       <th>Mass:</th>       <td>6.39 × 10^23 kg (0.11 Earths)</td>     </tr>     <tr>       <th>Moons:</th>       <td>2 (Phobos &amp; Deimos)</td>     </tr>     <tr>       <th>Orbit Distance:</th>       <td>227,943,824 km (1.38 AU)</td>     </tr>     <tr>       <th>Orbit Period:</th>       <td>687 days (1.9 years)</td>     </tr>     <tr>       <th>Surface Temperature:</th>       <td>-87 to -5 °C</td>     </tr>     <tr>       <th>First Record:</th>       <td>2nd millennium BC</td>     </tr>     <tr>       <th>Recorded By:</th>       <td>Egyptian astronomers</td>     </tr>   </tbody> </table>'

In [76]:
hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

browser.visit(hemi_url)
hemi_html = browser.html
hemi_soup = bs(hemi_html, "html.parser")

In [77]:
hemi_image_url = []
base_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

hemis = hemi_soup.find_all('div', class_='item')

for hemi in hemis:
    title = hemi.find('h3').text

    browser.links.find_by_partial_text("Hemisphere Enhanced")
    img_html = browser.html
    img_soup = bs(img_html, "html.parser")
    imgs_url = img_soup.find('img', class_='thumb')['src']

    images_url = base_url+imgs_url
    hemi_image_url.append({"title" : title, "img_url" : images_url})

    hemi_image_url